<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teslasoft.smartcard">
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.NFC" />
	<uses-feature
        android:name="android.hardware.nfc"
        android:required="true"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
		<activity
            android:name=".NfcAuthenticator"
            android:label="@string/app_name"
			android:launchMode="singleTask"
			android:exported="true">
			<intent-filter>
				<action android:name="com.teslasoft.smartcard.NfcAuthenticator"/>
				<action android:name="android.nfc.action.NDEF_DISCOVERED"/>
				<action android:name="android.nfc.action.MAIN"/>
				<action android:name="android.nfc.action.TECH_DISCOVERED"/>
				<action android:name="android.nfc.action.TAG_DISCOVERED"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="text/plain"/>
			</intent-filter>
			<intent-filter android:order="1"
				android:autoVerify="true">
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>
				<data android:scheme="http"
					android:scheme="https"
					android:host="cs.jarvis.studio"
					android:pathPrefix="/smartcard/open"/>
			</intent-filter>
			<meta-data
				android:name="default-url"
				android:value="https://cs.jarvis.studio"/>
			<meta-data android:name="android.nfc.action.TECH_DISCOVERED"
				android:resource="@xml/nfc_tech_filter"/>
		</activity>
    </application>
</manifest>
